.brand {
    text-align: center;
}
.container {background-color: rebeccapurple !important;
}

.header {background-color: #8080ff !important;
}
section {background-color: white !important;
}

.center {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 20% !important;
}
.margin-adjust {
    padding-right: 70px;
}
.contact-text {
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}

.box {
    background-color: white;
    color: black;

    border: thin double black;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}