.brand {
    text-align: center;
}
.container {background-color: #666699 !important;
}

.header {background-color: #666699 !important;
}
section {background-color: white !important;
}

.center {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 20% !important;
}
.margin-adjust {
    padding-right: 70px;
}
.contact-text {
    text-align: center;
    background-color: #c2c2d6 !important;
}

.wrapper {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}

.box {
    background-color: white;
    color: black;

    border: thin double black;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}
.capstone-container {
    background: #f0f0f5;


}